    <section class="bg-primary" id="about">
        <div class="white-background">
            <div class="container">
                <div class="row" id="about-heading">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Enjoy modern interpretations of classic cuisine of the Hawaiian Islands in an elegant, oceanfront setting for breakfast, lunch or dinner.</h2>
                        <hr class="light">
                    </div>
                </div>
                <div class="row" id="description">
                    <div class="col-lg-3 text-center" id ="experience">
                        <i class="text-primary sr-icons" id="sun"></i>
                        <h3 class="about-subheading">The Experience</h3>
                        <p class="text-faded">Take in the enchanting sights of Ko Olina Beach or watch the sun set as you dine at this open-air restaurant.</p>
                    </div>
                    <div class="col-lg-6 text-center" id="style" >
                        <i class="text-primary sr-icons" id="fish"></i>
                        <h3 class="about-subheading">Style and Theme</h3>
                        <p class="text-faded">The restaurant is named after the ‘AMA‘AMA, a local mullet fish—and it’s inspired by the fishing settlements along the leeward coast of O‘ahu that date back to the 12th century.</p>
                        <p class="text-faded">‘AMA‘AMA is designed to resemble a beachside house. Its spacious dining room features a thatched roof, mosaic designs, a fountain and a reflecting pool.</p>
                    </div>
                    <div class="col-lg-3 text-center" id="location">
                        <i class="text-primary sr-icons" id="wave"></i>
                        <h3 class="about-subheading">Location</h3>
                        <p class="text-faded">‘AMA‘AMA is located beside the Waikolohe Valley pool area, just steps from the beach.</p>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="#menus" class="page-scroll btn btn-default btn-xl sr-button">Menus</a>  
                    </div>
                </div>
            </div>
        </div>
    </section>