<section id="menus">
        <div id="heading-background">
            <h2 id="menus-heading">Menus</h2>
            <p>Here, chefs use fresh, local ingredients and island flavors to create delectable dishes.</p>
        </div>
        <div class="container">
            <div class="row" id="breakfast">
                <div class="col-lg-4 col-lg-offset-1 col-md-12 text-center">
                    <img class="sr-image" src="img/breakfast.jpg" alt="breakfast">
                </div>
                <div class="col-lg-6 col-md-12 text-center" id="breakfast-menu">
                    <h3 class="menus-subheading">Breakfast</h3>
                    <p class="text-faded">7:00 AM - 10:30 AM</p>
                    <p class="text-faded">Choose from breakfast favorites, like eggs, waffles, bacon and pastries. Or opt for island specialties that feature fresh fish, local fruit, Portuguese sausage or other native ingredients.</p>
                    <a href="pdf/ama-ama-breakfast-menu.pdf" target="_blank" class="btn btn-default btn-xl sr-button">View</a> 
                </div> 
            </div>
            <div class="row" id="lunch">
                <div class="col-lg-4 col-lg-offset-1 col-md-12 text-center">
                    <img class="sr-image" src="img/lunch.jpg" alt="lunch">
                </div>
                <div class="col-lg-6 col-md-12 text-center" id="lunch-menu">
                    <h3 class="menus-subheading">Lunch</h3>
                    <p class="text-faded">11:30 AM - 2:30 PM</p>
                    <p class="text-faded">Savor American favorites with an island twist — including sandwiches, salads, soups and seafood. </p>
                    <a href="pdf/ama-ama-restaurant-lunch-menu.pdf" target="_blank" class="btn btn-default btn-xl sr-button">View</a> 
                </div>
            </div>
            <div class="row" id="dinner">
                <div class="col-lg-4 col-lg-offset-1 col-md-12 text-center">
                    <img class="sr-image" src="img/dinner.jpg" alt="dinner">
                </div>
                <div class="col-lg-6 col-md-12 text-center" id="dinner-menu">
                    <h3 class="menus-subheading">Dinner</h3>
                    <p class="text-faded">5:00 PM - 9:00 PM</p>
                    <p class="text-faded">7:00 PM - 9:00 PM Live Hawaiian Music (Fri - Sun)</p>
                    <p class="text-faded">While the menu rotates to highlight seasonal ingredients, dinner offerings showcase sustainable seafood, steaks and pasta.</p>
                    <a href="pdf/ama-ama-dinner-menu.pdf" target="_blank" class="btn btn-default btn-xl sr-button">View</a> 
                </div>
            </div>
            <div class="row" id="keiki">
                <div class="col-lg-4 col-lg-offset-1 col-md-12 text-center">
                    <img class="sr-image" src="img/keiki.jpg" alt="keiki">
                </div>
                <div class="col-lg-6 col-md-12 text-center" id="keiki-menu">
                    <h3 class="menus-subheading">Keiki</h3>
                    <p class="text-faded">For Guests Ages 9 and Under</p>
                    <a href="pdf/ama-ama-keiki-menu.pdf" target="_blank" class="btn btn-default btn-xl sr-button">View</a> 
                </div>
            </div>
            <div class="row" id="additional-info">
                <div class="col-lg-12 text-center">
                    <p>Reservations required for breakfast, lunch and dinner.</p>
                    <p>Menu items and prices are subject to change without notice.</p>
                </div>
            </div>
        </div>        
</section> 